<div class="row">
  <div class="col-md-3 sidebar" >
    <div class="content profile">
        <div class='row user-data'>
          <img src="/square.svg" class='img-circle profile-pic'>
          <div class='user-info'>
            <%= @user.name %> <br>
            <%= link_to(@user.profile_name, @user_path, class: 'profile-name') %>
          </div>
        </div>
        <div class='row user-stats'>
          <%= @user.followers.length.to_s + ' Followers' %> <br>
          <%= @user.followeds.length.to_s + ' Following' %> <br>
          <%= @user.concepts.length.to_s  + ' Posts' %>

          <% if current_user && @user != current_user %>
            <% if current_user.following? @user %>
              <%= form_for @relationship, method: :delete do |f| %>
                <%= f.submit "Unfollow" %>
              <% end %>
            <% else %>
              <%= form_for @relationship  do |f| %>
                <%= f.hidden_field :followed_id, value: @user.id %>
                <%= f.submit "Follow" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
  <div class="col-md-9">
      <div class="content">
        <% @user.concepts.each do |concept| %>
              <div class="concept-index col-sm-12">
                <div class='row header'>
                  <img src="/square.svg" class="img-circle profile-thumb">
                  <%= link_to(concept.user.profile_name, concept.user.profile_name , class: 'username') %>
                  <span class='timestamp pull-right'>Aug 29</span>
                </div>
                <div class='row body'>
                  <i class="fa fa-file icon"></i>
                  <div class='text'>
                    <%= link_to(concept.title, concept_path(concept), class: 'title') %>
                    <p>
                      <%= concept.description %>
                    </p>
                    <%= link_to 'Edit', edit_concept_path(concept), class: 'admin' %><span class='admin'> | </span>
                    <%= link_to 'Delete', concept_path(concept), method: :delete, class: 'admin' %>
                  </div>
                </div>
              </div>
        <% end %>
      </div>
    </div>
</div> <!-- end row -->
