<div class='row'>
  <div class='col-md-3'>
    <div class='content'>
      <h2>Sign up</h2>
      <p>Already have an account?</p>
      <%= link_to "Sign In", new_user_session_path %>
    </div>
  </div>

    <div class='content'>
      <div class='well col-sm-9'>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {role: 'form', class: 'form-horizontal'}) do |f| %>
      <%= devise_error_messages! %>

        <div class='form-group col-sm-12'>
          <div class="col-sm-4">
            <%= f.label :first_name, class: 'control-label' %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>
        </div>

        <div class='form-group col-sm-12'>
          <div class="col-sm-4">
            <%= f.label :last_name, class: 'control-label' %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>
        </div>

        <div class='form-group col-sm-12'>
          <div class="col-sm-4">
            <%= f.label :profile_name, class: 'control-label' %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :profile_name, class: 'form-control' %>
          </div>
        </div>

        <div class='form-group col-sm-12'>
          <div class="col-sm-4">
            <%= f.label :email, class: 'control-label' %>
          </div>
          <div class="col-sm-8">
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>
        </div>

        <div class='form-group col-sm-12'>
          <div class="col-sm-4">
          <%= f.label :password, class: 'control-label' %> 
          </div>
          <div class="col-sm-8">
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>
        </div>

        <div class='form-group col-sm-12'>
          <div class="col-sm-4">
            <%= f.label :password_confirmation, class: 'control-label' %>
          </div>
          <div class="col-sm-8">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'col-md-8 form-control' %>
          </div>
        </div>

        <div class='form-group col-sm-12'>
          <div class='col-sm-offset-4 col-sm-8'>
            <%= f.submit "Sign up", class: 'btn btn-default' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>