<div class='row content-wrapper'>
<!--   <div class='col-md-2'>
    <div class='content'>
      <h2>Login</h2>
    </div>
  </div> -->
    <div class='content col-md-10'>
      <div class='well col-sm-8'>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {role: 'form'}) do |f| %>
      <%= devise_error_messages! %>
       
        <div class='form-group col-sm-12'>
          <div class='col-sm-3'>
            <%= f.label :email, class: 'control-label pull-right' %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :email, class: 'form-control' %>
          </div>
        </div>
        

        <div class='form-group col-sm-12'>
          <div class="col-sm-3">
            <%= f.label :password, class: 'control-label pull-right' %> 
          </div>
          <div class="col-sm-8">
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>
        </div>

        <div class='form-group col-sm-12'>
	       <% if devise_mapping.rememberable? -%>
	    		<div class='col-sm-offset-3 col-sm-8'>
            <%= f.check_box :remember_me %> <%= f.label :remember_me %>
          </div>
	  		 <% end -%>
  		  </div>

        <div class='form-group col-sm-12'>
          <div class='col-sm-offset-3 col-sm-8'>
            <%= f.submit "Submit", class: 'btn btn-default' %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
