<%= form_for(@concept) do |f| %>
  
  <!-- display error messages, if any -->
  <% if @concept.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@concept.errors.count, "error") %> prohibited this concept from being saved:</h2>
      <ul>
        <% @concept.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div> 
  <% end %><!-- end errors -->

  
    <div class="form-group">
      <%= f.label :title, class: 'control-label' %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  
    <div class="form-group">
      <%= f.label :description, class: 'control-label' %>
      <%= f.text_field :description, class: 'form-control' %>
    </div>
  
    
    <div class='editor'>
      <%= f.text_area :body, :data => {:provide => "markdown", :iconLibrary => 'fa'} %>
    </div> 
  
    <%= f.submit class: 'btn btn-default' %>
    <br>
    <br>
  
          
<% end %>
