
<div class="row content-wrapper">
	<div class="col-md-3">
		<div class='content'></div>
	</div>
	<div class="col-md-9">
		<div class='content'>
			<%= render 'form' %>
			<br>
			<br>
			<%= link_to 'Back', concepts_path %>
		</div>
	</div>
</div>



<!-- <h1>Editing concept</h1>

<%= render 'form' %>

<%= link_to 'Show', @concept %> |
<%= link_to 'Back', concepts_path %> -->
