<div class="row">
  <div class="col-md-3 sidebar" >
    <div class="content">
      <h2>Profile</h2>
      <p>This is the area where information about the user will go</p>
    </div>
  </div>
  <div class="col-md-9">
      <div class="content">
        <h2>All Concepts</h2>
        <% @concepts.each do |concept| %>
          <div class="concept">
            <%= link_to concept.title, concept_path(concept) %>
            <p><%= concept.description %></p>
            <%= link_to 'Edit', edit_concept_path(concept) %> |
            <%= link_to 'Delete', concept_path(concept), method: :delete %>
          </div>
        <% end %>
        <%= link_to 'New Concept', new_concept_path, class: 'btn btn-default' %>
      </div>
    </div>
</div>


